@import "core/reset";
@import "core/variables";
@import "core/mixins";

@import "components/header";
@import "components/hero";
@import "components/main";
@import "components/aside";

@import "components/page";
@import "components/lookingWin";

@import "components/footer";
@import "components/headerReasons";
@import "components/mainReasons";
@import "components/footerReasons";