<aside class="page_aside">
    <div class="globalContainerAside">
        <div class="containerAsideLink">
                <a class="linkAside" href="https://adalab.es/" title="conecta a página de Adalab">Insomnia Tips</a>
        </div>
        <div class="containerAside1">
            <h2 class="textAside">
                Looking Through A <br>Window
            </h2>
        </div>
        <div class="containerAside2">
            <p class="paragraph">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.  Vivamus semper sodales rutrum.
            </p>

        </div>
        <div class="containerAside3">
            <button class="button">Go</button>
        </div>
    </div>
</aside>