<!-- ESTA PARTE ESTÁ HECHA CON GRID -->

<!-- <footer class="page__footer">
  <div class="centerButtom">
    <div class="containerCircleTop">
      <a href="#firstPage" title="Vuelve al inicio"> <img class="icoCentred" src="../assets/images/ico-arrow.svg" alt="subir a sección"
        title="cambiar de sección"></a>
    </div>
  </div>
  <div class="grid-container">
    <div class="container1Footer">
      <nav>
        <ul>
          <li class="itemContainer1footer"><a href="https://medium.com/adalab" title="Articulos en Adalab">ARTICLES</li></a> 
          <li class="itemContainer1footer"> <a href="https://books.adalab.es/" title="Sección books de Adalab"> BOOKS</li></a>
          <li class="itemContainer1footer"> <a href="https://adalab.es/" title="Enlace a Adalab"> EVENTS</li></a>
          <li class="itemContainer1footer"> <a href="https://adalab.es/" title="Enlace a Adalab"> REASONS</li></a>
          <li class="itemContainer1footer"> <a href="https://adalab.es/" title="Enlace a Adalab">TIPS</li></a>
        </ul>
      </nav>
    </div>
    <div class="container2">
      <nav class="container2">
        <ul>
          <li class="itemContainer2footer"> <a href="https://twitter.com/Adalab_Digital" title="Twitter de Adalb">TWITTER</li></a> 
          <li class="itemContainer2footer"> <a href="https://www.instagram.com/adalab_digital/" title="Instagram de Adalab">INSTAGRAM</li></a> 
          <li class="itemContainer2footer"> <a href="https://adalab.es/" title="Enlace a Adalab">MASTODON.SOCIAL</li></a> 
        </ul>
      </nav>
    </div>
    
    <div class="container4">© 2020
      <div class="container4footer">we <i class="fas fa-heart" style="font-size: 14px; color: #f26002;" title="Examen hecho con amor"></i> components</div>
    </div>    
</footer> -->


<!-- ESTA PARTE ESTÁ HECHA CON FLEX -->
<footer class="page__footer">
  <div class="centerButtom">
    <div class="containerCircleTop">
      <a href="#firstPage" title="Vuelve al inicio"> <img class="icoCentred" src="../assets/images/ico-arrow.svg" alt="subir a sección"
        title="cambiar de sección"></a>
    </div>
  </div>
  <div class="containerFooter">
    <div class="container1Footer">
      <nav>
        <ul>
          <li class="itemContainer1footer"><a href="https://medium.com/adalab" title="Articulos en Adalab">ARTICLES</li></a> 
          <li class="itemContainer1footer"> <a href="https://books.adalab.es/" title="Sección books de Adalab"> BOOKS</li></a>
          <li class="itemContainer1footer"> <a href="https://adalab.es/" title="Enlace a Adalab"> EVENTS</li></a>
          <li class="itemContainer1footer"> <a href="https://adalab.es/" title="Enlace a Adalab"> REASONS</li></a>
          <li class="itemContainer1footer"> <a href="https://adalab.es/" title="Enlace a Adalab">TIPS</li></a>
        </ul>
      </nav>
    </div>
    <div class="container2">
      <nav class="container2">
        <ul>
          <li class="itemContainer2footer"> <a href="https://twitter.com/Adalab_Digital" title="Twitter de Adalb">TWITTER</li></a> 
          <li class="itemContainer2footer"> <a href="https://www.instagram.com/adalab_digital/" title="Instagram de Adalab">INSTAGRAM</li></a> 
          <li class="itemContainer2footer"> <a href="https://adalab.es/" title="Enlace a Adalab">MASTODON.SOCIAL</li></a> 
        </ul>
      </nav>
    </div>
    
    <div class="container4">© 2020
      <div class="container4footer">we<i class="fas fa-heart" style="font-size: 14px; color: #f26002; line-height: 30px;" title="Examen hecho con amor"></i> components</div>
    </div>   
  </div> 
</footer>