<header class="page__hero">
  <div class="containerText">
    <strong class="primaryText">ANONYMOUS</strong>
    <strong class="primaryText">PROXY</strong>
    <span class="secondaryText">In hac habitasse platea dictumst.</span>
  </div>
  <div class="centerButtom">
    <div class="containerCircle">
      <a href="#reasons" title="3 Reasons To Purchase"> <img class="icoCentred"
          src="./assets/images/ico-scroll-down.svg" alt="icono para bajar a otra sección"
          title="cambiar de sección"></a>
    </div>
  </div>
</header>