<section id="equipoPpal">
    <div class="homecontainer0">
        <p class="hometext3">EVALUACIÓN LILIANA RASCÓN</p>
    </div>
    <div class="homecontainer1">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis nobis similique ipsum saepe quis quia qui adipisci sed obcaecati aspernatur atque provident itaque magnam, distinctio, totam dicta quidem maiores? </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem est qui reprehenderit! Culpa, fuga esse. Consequuntur ex enim, perspiciatis vitae velit, dolor distinctio impedit culpa officia voluptatum neque accusamus ratione!</p>
    </div>
   
    <adiv class="homecontainer2">
        <div class="homecontainertablet">
            
                <div class="homecontainer3">
                    <p class="hometext1">More Reasons</p>
                    <p class="hometext4">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi nesciunt, rerum culpa provident dolor nostrum impedit, reprehenderit velit consectetur dolores ipsum quia, repellat vitae cumque est. Fuga unde nihil voluptatem! <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci cumque debitis aut consequuntur odit unde voluptas! Praesentium ex nihil ducimus qui iste, alias illo doloremque esse, tempore numquam eos dolorum. <br>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis soluta distinctio vero quisquam ut ullam! In ipsam, iure quibusdam adipisci asperiores eius temporibus perferendis, fugit doloribus dolores vero odio aperiam!
                    </p>
                </div>
                <div class="homecontainer4">
                    <p class="hometext2">Lorem ipsum</p>
                    <p class="hometext5">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolorem eligendi facilis, fugit obcaecati soluta sit itaque repellat nesciunt maiores numquam debitis! Minus laboriosam velit numquam optio aperiam omnis quidem? <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laboriosam, eligendi quo fuga et quas ex at quasi eum cumque cupiditate fugit iusto. Facere, recusandae porro tempore optio quas eveniet! <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, vero obcaecati harum eligendi molestias fuga ea. Quaerat recusandae libero sed qui, vel nulla voluptas nesciunt nobis, ut ullam aliquam molestiae?
                    </p>
                </div>
                
            </div>
            <div class="homecontainer1">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis nobis similique ipsum saepe quis quia qui adipisci sed obcaecati aspernatur atque provident itaque magnam, distinctio, totam dicta quidem maiores? </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem est qui reprehenderit! Culpa, fuga esse. Consequuntur ex enim, perspiciatis vitae velit, dolor distinctio impedit culpa officia voluptatum neque accusamus ratione!</p>
            </div>
            <div class="homecontainer1">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis nobis similique ipsum saepe quis quia qui adipisci sed obcaecati aspernatur atque provident itaque magnam, distinctio, totam dicta quidem maiores? </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem est qui reprehenderit! Culpa, fuga esse. Consequuntur ex enim, perspiciatis vitae velit, dolor distinctio impedit culpa officia voluptatum neque accusamus ratione!</p>
            </div>
            <div class="homecontainer1">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis nobis similique ipsum saepe quis quia qui adipisci sed obcaecati aspernatur atque provident itaque magnam, distinctio, totam dicta quidem maiores? </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem est qui reprehenderit! Culpa, fuga esse. Consequuntur ex enim, perspiciatis vitae velit, dolor distinctio impedit culpa officia voluptatum neque accusamus ratione!</p>
            </div>
        </div>
</section>