<section class="specialOffer">
    <div class="specialOffer1">
        <h2>Special Offer</h2>
       
        <div class="specialOffer2">
            <h3 class="subtitle"> "20% discount"</h3>
           
                <p class="paragraphDiscount">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta corrupti blanditiis beatae ipsam illo
                    repellendus qui necessitatibus ex ullam obcaecati incidunt officia quibusdam, dolorum dignissimos
                    nostrum aliquid quam dolor maxime.
                </p>
            </div>
        
    
    </div>
</section>