<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Evaluación intermedia Liliana Rascón Estrada</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <div class="page">
      <partial src="_header.html" title="EVALUACION INTERMEDIA LILIANA RASCON ESTRADA"></partial>
      <partial src="_hero.html" label="Hero"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_aside.html" label="Aside"></partial>

    
      
      <partial src="_footer.html"></partial>
    </div>
  </body>

</html>
