.header {
    font-family: 'Roboto';
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 99;
  
    .title-header {
      width: 100%;
      height: 60px;
      background-color: #304268;
      opacity: 0.95;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      #equipo a {
        text-decoration: none;
        font-family: 'Roboto';
        color: #ffffff;
      }
    }
    & .menu-header {
      width: 100%;
      height: 45px;
      background-color: #304268;
      opacity: 0.9;
      font-size: 15px;
      nav {
      ul {
        margin: 0px;
        height: 45px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li {
            color: white;
            display: flex;
            align-content: center;
            list-style-type: none;
  
            a {
              padding: 5px;
              font-family: 'Roboto';
              align-content: center;
              height: 45px;
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
  .header {
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
  
    .title-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 20%;
        padding-left: 45px;
      }
  
      & .menu-header {
            background-color: #304268;
            opacity: 0.95;
            height: 60px;
            width: 100%;
            height: 45px;
            height: 60px;
            background-color: #304268;
            opacity: 0.95;
        nav {
          ul {
            margin: 0;
            font-size: 24px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-right: 45px;
  
            li {
              color: white;
              display: block;
              a {
                height: 60px;
                align-items: center;
  
              }
            }
          }
        }
      }
    }
  }