.page__header { 
  .menuHeader {
    background-color: #0271bc;
    width: 44px;
    height: 44px;
    position: fixed;
    .containerMenu{
      padding-top: 15px;
      padding-left: 15px;
    }
  }
}
