.page_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.globalContainerMain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .containerMainLink{
        padding-top: 30px;
        line-height: 30px;
        .linkMain{
            font-family: 'Roboto';
            font-size: 14px;
            color: #8ccbea;
            padding-right: 15px;
            padding-left: 15px;
            line-height: 30px;
        }
        
    }
    @media all and (min-width: 768px){
            
        .containerMainLink{
            padding-top: 30px;
            padding-left: 39px;
            padding-right: 39px;
            .linkMain{
                font-family: 'Roboto';
                font-size: 14px;
                color: #8ccbea;
                line-height: 30px;
            }
        }
    }
    @media all and (min-width: 1200px){
            
        .containerMainLink{
            padding-top: 60px;
            padding-left: 275px;
            
            .linkMain{
                font-family: 'Roboto';
                font-size: 16px;
                color: #8ccbea;
                line-height: 30px;
            }
        }
    }
    .containerMain1{
        .textMain{
            font-family: 'Roboto Slab';
            font-weight: bold;
            font-size: 24px;
            color: black;
            line-height: 30px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    @media all and (min-width: 768px){
        .containerMain1{
            padding-right: 39px;
            padding-left: 39px;
            .textMain{
                font-family: 'Roboto Slab';
                font-weight: bold;
                font-size: 26px;
                color: black;
                line-height: 45px;
               
            }
        }   
        
    }
    @media all and (min-width: 1200px){
        .containerMain1{
            padding-right: 45px;
            padding-left: 275px;
            .textMain{
                font-family: 'Roboto Slab';
                font-weight: bold;
                font-size: 32px;
                color: black;
                line-height: 45px;
               
            }
        }   
        
    }
    
    .containerMain2{
        .paragraph{
            padding-left: 15px;
            padding-right: 15px;
            font-family: 'Roboto';
            font-size: 18px;
            color: #4a4a4a;
            line-height: 30px;
        }
    }
    @media all and (min-width: 768px){
       
        .containerMain2{
            padding-left: 39px;
            padding-right: 39px;
            .paragraph{
               
                font-family: 'Roboto';
                font-size: 20px;
                color: #4a4a4a;
                line-height: 30px;
            }
        }
}
@media all and (min-width: 1200px){
       
    .containerMain2{
        padding-top: 30px;
        padding-left: 275px;
        padding-right: 60px;
        .paragraph{
           
            font-family: 'Roboto';
            font-size: 20px;
            color: #4a4a4a;
            line-height: 30px;
        }
    }
}

    .containerMain3{
        padding-top: 30px;
        padding-bottom: 45px;
        padding-left: 15px;
        padding-right: 15px;
        .button{
            background-color:white; 
            border: solid 2px  #f26002;
            width: 76px;
            height: 45px;
            border-radius: 22.5px;
            font-family: 'Roboto';
            color: #f26002;
            font-size: 20px;
            align-items: center;            
            }
        .button:hover{
            
            transform: rotate(360deg);
            transition: 3s;
            cursor: pointer;
            cursor: hand;
        }      
       
    }
    @media all and (min-width: 768px){
        .containerMain3{
            padding-top: 30px;
            padding-bottom: 60px;
            padding-left: 54px;
           
            .button{
               
                background-color:white; 
                border: solid 2px  #f26002;
                width: 91px;
                height: 45px;
                border-radius: 22.5px;
                font-family: 'Roboto';
                color: #f26002;
                font-size: 20px;
                align-items: center;            
                }
            .button:hover{
                background-color: #f26002;
                color: white;
                transform: rotate(360deg);
                transition: 3s;
                cursor: pointer;
                cursor: hand;
            }      
           
        }
    }
    @media all and (min-width: 1200px){
        .containerMain3{
            padding-top: 30px;
            padding-bottom: 60px;
           padding-left: 290px;
            .button{
                
                background-color:white; 
                border: solid 2px  #f26002;
                width: 160px;
                height: 45px;
                border-radius: 22.5px;
                font-family: 'Roboto';
                color: #f26002;
                font-size: 20px;
                align-items: center;            
                }
            .button:hover{
                background-color: #f26002;
                color: white;
                transform: rotate(360deg);
                transition: 3s;
                cursor: pointer;
                cursor: hand;
            }      
           
        }
    }

}