// fonts
$font-main: "Roboto", sans-serif;

// colors
$color-white: #f3f4f5;
$color-secondary: #999;



$primaryFont: 'Rubik';
$secondaryFont: 'Open Sans';
$headerdarkColor: #099D8D;
$headerlightColor: #14D9C4;
$paragraphFontsize: 16px;
$paragraphColor: #54585A;
$paragraphLineheight: 24px;
$titleFont: 24px;
$titleLineheight: 45px;
$linkDeco: none;
$listStyle: none;
$PrimaryColor: white;
$secondHomeContainer:  rgba(184, 184, 185, 0.50);
$copyColor: #B8B8B9;
$footerFont: 14px;
$left: 15px;